/* Reset de estilos */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Estilos gerais */
body {
    font-family: Arial, sans-serif;
    background-color: white;
    color: red;
}

.container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 20px;
}

header {
    background-color: red;
    padding: 20px;
    text-align: center;
}

nav ul {
    list-style-type: none;
    padding: 0;
}

nav ul li {
    display: inline;
    margin-right: 20px;
}

/* Estilos para seção de produtos */
.product-category {
    padding: 40px 0;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

.product {
    border: 1px solid #ccc;
    padding: 20px;
    margin: 10px;
    width: 250px;
    text-align: center;
}

/* Estilos para botões */
.buy-button,
.cart-button {
    background-color: red;
    color: white;
    border: none;
    padding: 8px 12px;
    cursor: pointer;
    margin-top: 10px;
}

.buy-button:hover,
.cart-button:hover {
    background-color: #990000;
}

/* Estilos para a seção de carrinho */
.cart-section {
    padding: 40px 0;
    border-top: 1px solid #ccc;
    margin-top: 20px;
    text-align: center;
}

/* Estilos para o rodapé */
footer {
    background-color: red;
    color: white;
    text-align: center;
    padding: 10px;
}
